<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/> 
        <meta charset="utf-8"/>
        <title>會員頁</title>
        <link rel="stylesheet" type="text/css" href="assignment-4.css">
    </head>
    <body>
        <div class="welcome">
            <div class="text">❀ 歡迎光臨，這是會員頁 ❀</div>
        </div>
        <div class="login">
            恭喜您，成功登入系統
        </div>
        <a href="/signout">
            <div class="signout">登出系統</div>
        </a>
    </body>
</html>