<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/> 
        <meta charset="utf-8"/>
        <title> 失敗頁面 </title>
        <link rel="stylesheet" type="text/css" href="assignment-6.css">
    </head>
    <body> 
        <div class="welcome">
            <div class="text">☒ 失敗頁面 ☒</div>
        </div>
        <div class="login">
            {{ message }}
        </div>
        <a href="/">
            <div class="signout">回到首頁</div>
        </a>
    </body>
</html>