body{
    margin:0;
    padding:0;
}
.welcome{
    display:flex;
    justify-content:center; /*水平對齊置中*/
    align-items:center; /*垂直對齊置中*/
    height:150px;
    background-color:antiquewhite;
    margin-bottom:50px;
}
.text{
    height:40px;
    font-size:40px;
    font-weight:bold;
    text-align:center;
}
.login{
    text-align:center;
    font-size:30px;
    font-weight:bold;
    margin-bottom:20px;
}
.count,.key{
    display:flex;
    justify-content:center; /*水平對齊置中*/
    align-items:flex-end; /*垂直對齊置中*/
    text-align:center;
    font-size:25px;
    margin-bottom:10px;
}

input{
    width: 220px;
    height: 25px;
    margin-left:20px;
}
.btn-square{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top:30px;
}
.btn{
    background-color:#ffcccc;
    width: 60px;
    height: 40px;
    line-height:20px;
    font-size:16px;
    text-align:center;
    font-weight:bold;
    border:solid 1px;
    padding:8px;border-radius:5px;
    cursor:pointer;
}